html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  color: #8aa2eb;
  background-color: #333;
  max-width: 1000px;
  margin: 20px auto;
  font-family: "Lora", serif;
}

section {
  margin: 3rem 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

nav a:hover {
  font-size: 1.25rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
button {
  font-family: "Montserrat", sans-serif;
}

i {
  font-size: 3rem;
  margin: 0.8rem;
  color: #ffffff;
}

#social-links i:hover {
  color: whitesmoke;
}

header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

header h1,
header ul {
  margin-bottom: 0px;
}

#navlist {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

#navlist li {
  margin: 0px 5px;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin: 0.5rem 0.8rem;
  align-items: center;
  text-align: center;
  width: 10%;
}

.skill p {
  margin: 0;
}

.project {
  border: 2px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

#about-me p {
  margin: 1rem 2rem;
}

button {
  font-size: 1rem;
  border-radius: 1rem;
  border: 2px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  max-width: fit-content;
  align-self: flex-end;
  margin-right: 10px;
}

button i {
  font-size: 1.5rem;
  margin: 0;
}

#button-text {
  margin-left: 5px;
  color: white;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 1031px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 32px;
  }

  body {
    margin: 20px 15px;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #navlist {
    justify-content: space-between;
  }

  nav {
    width: 90%;
  }

  .skill {
    width: 40%;
  }

  #skills-container {
    justify-content: space-between;
  }

  .desktop {
    display: none;
  }

  header h1 {
    margin-bottom: 2rem;
  }

  nav a:hover {
    font-size: 1rem;
  }
}
